<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { CatalogModule } from '@/store/';
import Products from '@/components/Products.vue';
import Loader from '@/components/Loader.vue';

@Component({
  components: {
    Products,
    Loader,
  },
})
export default class HomeView extends Vue {
  loading = true

  get products() {
    return CatalogModule.products;
  }

  async mounted() {
    await this.getProducts();
    this.loading = false;
  }

  getProducts = CatalogModule.get
};
</script>

<template lang="pug">
  div
    h1 Home
    Loader(v-if="loading")
    Products(
      v-else
      :products="products"
    )
</template>
