<script lang="ts">
import { CreateElement } from 'vue';
import { Vue, Component, Prop } from 'vue-property-decorator';

type Mode = 'td' | 'tr';

@Component
export default class CartRow extends Vue {
  @Prop({
    type: String,
    default: 'td',
  }) mode!: Mode

  render(h: CreateElement) {
    return h('tr', [
      'preview',
      'name',
      'price',
      'count',
      'delete',
    ].map(col => h(this.mode, { class: this.$style[col] }, this.$slots[col])));
  }
}
</script>

<style lang="stylus" module>
.preview
  display none

.delete
  text-align center

@media (min-width 768px)
  .preview
    display table-row
</style>
