<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { Mutation } from 'vuex-class';
import { ICartProduct } from '@/store/cart/';
import { CartModule } from '@/store/';
import cost from '@/utils/cost';
import CartProduct from '@/components/CartProduct.vue';
import CartRow from '@/components/CartRow.vue';

@Component({
  components: {
    CartRow,
    CartProduct,
  },
})
export default class Cart extends Vue {
  @Prop({
    type: Array,
    required: true,
  }) cart!: ICartProduct[];

  @Prop(Number) total!: number;

  deleteAll = CartModule.deleteAll

  cost = cost;
}
</script>

<template lang="pug">
  div(v-if="cart.length")
    table(:class="$style.cart")
      CartRow(mode="th")
        template(slot="preview")
          span(v-text="'Preview'")
        template(slot="name")
          span(v-text="'Name'")
        template(slot="price")
          span(v-text="'Price'")
        template(slot="count")
          span(v-text="'Count'")
        template(slot="delete")
          button(
            v-text="'Delete all'"
            :class="$style.deleteall"
            @click="deleteAll"
          )
      CartProduct(
        v-for="product in cart"
        :key="product.id"
        :product="product"
      )
    div(
      :class="$style.total"
      v-text="`Total: ${cost(total)}`"
    )
  div(
    v-else
    :class="$style.empty"
    v-text="'The cart is empty'"
  )
</template>

<style lang="stylus" module>
.cart
  width 100%
  text-align left
  td
    padding-top 10px

.total
  border-top 1px solid #ccc;
  margin-top 15px
  padding-top 10px
  font-size 20px
  font-weight 700

.deleteall
  border none
  padding 0
  background none
  color #ff1a00

.empty
  font-size 22px
  text-align center
  padding 30px 0
</style>
