<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { Mutation, namespace } from 'vuex-class';
import { ICartProduct } from '@/store/cart';
import { CartModule } from '@/store/';
import cost from '@/utils/cost';
import CartRow from '@/components/CartRow.vue';

interface VueEvent<T> {
  target: T,
}

const cart = namespace('cart');

@Component({
  components: {
    CartRow,
  },
})
export default class CartProduct extends Vue {
  @Prop({
    type: Object,
    required: true,
  }) product!: ICartProduct;

  increment = CartModule.increment;

  decrement = CartModule.decrement;

  editCount = CartModule.editCount;

  edit(event: VueEvent<HTMLInputElement>) {
    CartModule.editCount({
      ...this.product,
      count: Number(event.target.value),
    });
    // Если кастомер вводит число с точкой, которое по математическим правилам
    // округляется до того же, что установлено сейчас, перерендеринга не происходит
    // и кастомер видит не то значение которое находится в сторе. Вызов $forceUpdate
    // решает эту проблему. Как альтернативу, можно было бы использовать округление
    // в большую сторону и тогда вызов $forceUpdate не пригодился бы.
    this.$forceUpdate();
  }

  del() {
    CartModule.editCount({ ...this.product, count: 0 });
  }

  cost = cost
}
</script>

<template lang="pug">
  CartRow
    template(slot="preview")
      img(
        :src="product.img"
        :class="$style.img"
      )
    template(slot="name")
      span(v-text="product.name")
    template(slot="price")
      span(v-text="cost(product.price)")
    template(slot="count")
      div(:class="$style.actions")
        button(
          @click="decrement(product)"
          :class="[$style.action, $style.action_decrement]"
        ) -
        input(
          type="number"
          min="0"
          step="1"
          :class="$style.field"
          :value="product.count"
          @blur="edit"
          @keyup.enter="edit"
        )
        button(
          @click="increment(product)"
          :class="[$style.action]"
        ) +
    template(slot="delete")
      button(
        @click="del"
        :class="$style.delete"
      ) ×
</template>

<style lang="stylus" module>
.img
  max-width 100px

.actions
  display flex

.action
  display none
  justify-content center
  align-items center
  width 26px
  height 26px
  border-radius 0 100% 100% 0
  border none
  background #ededed
  &:hover
    background #b4df5b

.action_decrement
  border-radius 100% 0 0 100%
  &:hover
    background #ff1a00

.field
  width 35px
  height 26px
  flex-shrink 0
  -moz-appearance:textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    -webkit-appearance none
    margin 0

.delete
  display inline-flex
  justify-content center
  align-items center
  background none
  width 26px
  height 26px
  border 1px solid #ff1a00
  border-radius 100%
  color #ff1a00
  &:hover
    background #ff1a00
    color #fff

@media (min-width 768px)
  .action
    display inline-flex

  .field
    margin 0 5px
</style>
