<template lang="pug">
  div(:class="$style['lds-dual-ring']")
</template>

<style lang="stylus" module>
.lds-dual-ring
  position absolute
  top 50%
  left 50%
  margin-top -32px
  margin-left -32px
  display inline-block
  width 64px
  height 64px
  &:after
    content " "
    display block
    width 46px
    height 46px
    margin 1px
    border-radius 50%
    border 5px solid #ededed
    border-color #ededed transparent #ededed transparent
    animation lds-dual-ring 1.2s linear infinite

@keyframes lds-dual-ring
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
</style>
